---
- name: install and configurate unifi
  block:
    - name: make a directory
      impart_tasks: prereq.yml

    - name: install unifi
      import_tasks: install.yml

    - name: configure unifi
      import_tasks: config.yml
  when: " 'unifi' in inventory_hostname"