---

- name: make a direcory
  file:
    path: "{{ item }}"
    state: directory
    remote_src: yes
  loop:
    - "{{ unifi.opt }}"
    - "{{ unifi.var }}"
    - "{{ unifi.download }}"
  when: " 'unifi' in inventory_hostname "

- name: download unifi package
  get_url:
    url: "{{ unifi.url }}"
    dest: "{{ unifi.download }}"


