# Databases.
mysql_databases:
   - name: zabbix
     collation: utf8_general_ci
     encoding: utf8
     replicate: 1
     state: present

# Users.
mysql_users:
   - name: zabbix
     host: 127.0.0.1
     password: zabbixpassword
     priv: '*.*:ALL,GRANT'
     state: present