---

dir_1: nfs_1
dir_2: nfs_2


########################################
# DHCP variables
dhcp:
  conf: /etc/dhcp/dhcpd.conf

#########################################
# firewall variables
firewall:
  ports:
    - 2049/tcp
    - 89/tcp
    - 111/tcp
    - 2048/tcp
    - 8080/tcp
    - 8443/tcp
    - 17088/tcp
    - 17089/tcp
    - 17090/tcp
    - 17091/tcp
    - 17092/tcp

  services:
    - http
    - https
    - dhcp

  rules:
    - rule protocol value="ospf" accept
    - rule protocol value="icmp" accept
    -

##############################################
# Teamd variables
team:
  dir: /etc/sysconfig/network-scripts
  team0_r1: ifcfg-team0_r1.j2
  team0_r2: ifcfg-team0_r2.j2
  ens37: ifcfg-ens37.j2
  ens38: ifcfg-ens38.j2

##############################################
# install packages
packages:
    - epel-release
    - bash-completion
    - bind-utils
    - bzip2
    - cloud-utils-growpart
    - curl
    - fio
    - firewalld
    - gdisk
    - gzip
    - iotop
    - iperf3
    - jq
    - lshw
    - lsof
    - lz4
    - nano
    - nc
    - net-tools
    - procps-ng
    - psmisc
    - rsync
    - tar
    - tcpdump
    - telnet
    - traceroute
    - tree
    - unzip
    - vim
    - wget

#################################################
# UniFi

unifi:
  unifi: /var/opt/UniFi
  opt: /opt/UniFi/data
  var: /var/opt/UniFi/data
  download: /home/unifi/download
  url: https://dl.ui.com/unifi/5.12.35/unifi_sysvinit_all.deb
  user: unifi
  group: unifi

unifi_packages:
  - lsb
  - wget
  - uzip
  - vim
  - java







