---

dir_1: nfs_1
dir_2: nfs_2

#################################################
# snmp_exporter variables

snmp_exporter:
  - name: snmp_exporter
    download_dir: snmp_exporter
    download_dir_state: directory
    url: https://github.com/prometheus/snmp_exporter/releases/download/v0.20.0/snmp_exporter-0.20.0.linux-amd64.tar.gz

#################################################
# Zabbix variables

zabbix:
  server_packages:
    - zabbix-server-mysql
    - zabbix-agent
#    - zabbix-web-mysql
    - zabbix-get

  db_name: zabbix
  db_user: zabbix
  db_password: zabbixpassword
  agent_packages:
    - zabbix-agent
    -
#################################################
# PHP-FPM variables

php_fpm:
  packages:
    - php
    - php-cli
    - php-fpm
    - php-json
    - php-pdo
    - php-mysqlnd
    - php-zip
    - php-gd
    - php-mbstring
    - php-curl
    - php-xml
    - php-pear
    - php-bcmath
    - MySQL-python

  ini_dir: /etc


##################################################


domain: office.local

##################################################
# UniFi variables

unifi_version: 5.12.35
unifi_services: unifi.service
unifi_mongodb_services: mongod.service



###################################################


###################################################
product: "lenovo"
city: "home"
provider: "local"
provider_type: "laptop"
datacenter: "kdt-{{ provider }}-{{ city }}-{{ provider_type }}"
architecture: linux-amd64
logrotate_dir: /etc/logrotate.d
systemd_unitdir: /usr/lib/systemd/system
env: "local"

###################################################
# Prometheus variables

prometheus:
  user: prometheus
  group: prometheus
  version: 2.33.5
  remove_src: true
  dir: "/etc/prometheus"
  targets_dir: "/etc/prometheus/targets"
  alerts_dir: "/etc/prometheus/alerts"
  bin_sources: "/data/prometheus-sources"
  download_dir: "/data/downloads"
  log: /var/log/prometheus/prometheus.log
  storage: /home/prometheus/data
  retention_time: 180d

########################################
# variables for DNS
dns:
  user: root
  group: root
  etc: /etc
  named: /etc/named
  zones: /etc/named/zones

########################################
# DHCP variables
dhcp:
  conf: /etc/dhcp

#########################################
# firewall variables
firewall:
  ports:
    - 2049/tcp
    - 80/tcp
    - 111/tcp
    - 2048/tcp
    - 8080/tcp
    - 8443/tcp
    - 17088/tcp
    - 17089/tcp
    - 17090/tcp
    - 17091/tcp
    - 17092/tcp
    - 9000/tcp

  services:
    - http
    - https
    - dhcp
    - dns

  rules:
    - rule protocol value="ospf" accept
    - rule protocol value="icmp" accept

##############################################
# Teamd variables
team:
  dir: /etc/sysconfig/network-scripts
  team0_r1: ifcfg-team0_r1.j2
  team0_r2: ifcfg-team0_r2.j2
  ens37: ifcfg-ens37.j2
  ens38: ifcfg-ens38.j2

##############################################
# install packages
packages:
    - epel-release
    - bash-completion
    - bind-utils
    - bzip2
    - cloud-utils-growpart
    - curl
    - fio
    - firewalld
    - gdisk
    - gzip
    - iotop
    - iperf3
#    - jq
    - lshw
    - lsof
    - lz4
    - nano
    - nc
    - net-tools
    - procps-ng
    - psmisc
    - rsync
    - tar
    - tcpdump
    - telnet
    - traceroute
    - tree
    - unzip
    - vim
    - wget
    - mc

#################################################
# UniFi

unifi:
  unifi: /var/opt/UniFi
  opt: /opt/UniFi/data
  var: /var/opt/UniFi/data
  download: /home/unifi/download
  url: https://dl.ui.com/unifi/5.12.35/unifi_sysvinit_all.deb
  user: unifi
  group: unifi


