DEVICE=team0
DEVICETYPE=Team
BOOTPROTO=static
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
NAME=team0
ONBOOT=yes
TEAM_CONFIG='{"runner": {"name": "activebackup"}, "link_watch": {"name": "ethtool"}}'
IPADDR=192.168.12.2
NETMASK=255.255.255.0
HWADDR="ac:1f:6b:ff:3b:7e"

