---

- name: enable ports | allow ospf | allow dhcp
  block:
    - name: allow ports
      firewalld:
        zone: public
        port: "{{ firewall.ports }}"
        state: enabled
        permanent: yes
        immediate: yes

    - name: allow ospf
      firewalld:
        rich_rule: "{{ firewall.rules }}"
        state: enabled
        permanent: yes

    - name: allow dhcp
      firewalld:
        service: "{{ firewall.services }}"
        zone: public
        state: enabled
        permanent: yes
        immediate: yes


  notify: reload firewalld




